@using TP10_PreguntadORT.Models
@{
    ViewData["Title"] = "Configurar Juego";
    Layout = "~/Views/Shared/_Layout.cshtml";
List<Categoria> categorias = (ViewBag.Categorias as List<Categoria>) ?? new List<Categoria>();
}

<h1>Configurar Juego</h1>

<form method="get" action='@Url.Action("Comenzar","Juego")'>
    <p>
        <h2>Nombre de usuario:</h2>
        <input type="text" id="username" name="username" required />
    </p>

    <p>
        <h2>Categoría:</h2>
        <select id="categoria" name="categoria" required>
            <option value="-1">Todas</option>
            @foreach (Categoria categoria in categorias)
            {
        <option value="@categoria.IdCategoria">@categoria.nombre</option>
                
            }
        </select>
    </p>

    <p>
        <button type="submit">Jugar</button>
    </p>
</form>