@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <img src="~/imgs/logo.png" alt="Logo del juego" />

    <h1>¡Bienvenido a PreguntadORT!</h1>

    <p>
        <a href='@Url.Action("ConfigurarJuego","Juego")'>
            Comenzar a Jugar
        </a>
    </p>
</div>
