@{
    ViewData["Title"] = "Inicio";
     Layout = "~/Views/Shared/_Layout.cshtml";

}

<div>

    <h1>¡Bienvenido a PreguntadORT!</h1>

    <p>
        <a href='@Url.Action("ConfigurarJuego","Home")'>
            Comenzar a Jugar
        </a>
    </p>
</div>
